<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="org.qii.weiciyuan"
          android:versionCode="1"
          android:versionName="1.0">
    <uses-sdk android:minSdkVersion="14" android:targetSdkVersion="16"/>


    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>


    <application android:label="@string/app_name" android:icon="@drawable/ic_launcher"
                 android:name="org.qii.weiciyuan.support.utils.GlobalContext"
                 android:theme="@style/AppTheme">
        <activity
                android:name=".ui.login.AccountActivity"
                android:screenOrientation="portrait"
                android:uiOptions="splitActionBarWhenNarrow"
                android:launchMode="standard"
                android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".ui.main.MainTimeLineActivity"
                  android:uiOptions="splitActionBarWhenNarrow"
                  android:launchMode="standard"/>
        <activity android:name=".ui.send.StatusNewActivity"
                  android:uiOptions="splitActionBarWhenNarrow"
                  android:windowSoftInputMode="stateVisible|adjustResize"/>
        <activity android:name=".ui.login.OAuthActivity"
                  android:label="授权"/>
        <activity android:name=".ui.browser.BrowserWeiboMsgActivity"
                  android:label="detail"
                  android:uiOptions="splitActionBarWhenNarrow"/>
         <activity android:name=".ui.send.RepostNewActivity"
                  android:uiOptions="splitActionBarWhenNarrow"
                  android:windowSoftInputMode="stateVisible|adjustResize"/>
        <activity android:name=".ui.send.CommentNewActivity"
                  android:uiOptions="splitActionBarWhenNarrow"
                  android:windowSoftInputMode="stateVisible|adjustResize"/>
        <activity android:name=".ui.preference.SettingActivity"/>
        <activity android:name=".ui.browser.BrowserRepostAndCommentListActivity"
                  android:uiOptions="splitActionBarWhenNarrow"/>
        <activity android:name=".ui.userinfo.UserInfoActivity"
                  android:uiOptions="splitActionBarWhenNarrow"/>

        <service android:name=".ui.backgroundservices.FetchNewMsgService"/>

        <receiver android:name=".ui.receiver.MentionsAndCommentsReceiver"/>
        <receiver android:name=".ui.receiver.ConnectionChangeReceiver" android:label="NetworkConnection"
                >
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE"/>
            </intent-filter>
        </receiver>

    </application>

</manifest>
